[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypidouban"

[packages]
django = "*"
django-simpleui = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
