{#评论#}
<hr/>
<div class="comment">
    <form class="form-group" action="/comment/" method="POST">
        {% csrf_token %}
{#        评论所属的文章target,如：post/1.html#}
        <input name="target" type="hidden" value="{{ target }}">
{#        评论的其他字段，从comment_block.py过来的#}
        {{ comment_form }}
        <br>
        <input type="submit" value="写好了！">
        <hr>
    </form>
    {#        <! -- 评论列表 -->#}
    <ul class="list-group">
        {% for comment in comment_list %}
            <li class="list-group-item">
                <div class="nickname">
                    <a href="{{ comment.wibsite }}">{{ comment.nickname }}</a>
                    <span>{{ comment.created_time }}</span>
                </div>
                <div class="comment-content">
                    {% autoescape off %}
                        {{ comment.content }}
                    {% endautoescape %}
                </div>

            </li>
        {% endfor %}

    </ul>
</div>