{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% if home_title %}
        <title>{{ home_title }}</title>
    {% else %}
        <title>django blog</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="nav">
                    {% if home_title %}
                        <a class="logo" href="/">{{ home_title }}</a>
                    {% else %}
                        <a class="logo" href="/">Django Blog</a>
                    {% endif %}
                    <a class="index" href="/">首页</a>
                    {#                    遍历所有的分类#}
                    {% for cate in nav_cates %}
                        <a class="link" href="{% url 'category' cate.id %}">{{ cate.name }}</a>
                    {% endfor %}
                </nav>
            </div>
            <div class="col-3">
                <div class="input-group search">
                    <form class="form-inline" action="/search/" method="GET">
                        <input
                                type="text"
                                class="form-control"
                                placeholder="输入搜索内容"
{#                                aria-label="输入搜索内容"#}
                                value="{{ keyword }}"
                                name="keyword"
                        >
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" type="submit">搜索</button>
                        </span>
                    </form>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="container main">
    <div class="row">
        <div class="col-9 left-side">
            <div class="inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="col-3 right-side">
            <div class="inner">
                {% for side in side_bars %}
                    <div class="sidebar">
                        <div class="sidebar-title">{{ side.title }}</div>
                        <div class="sidebar-content">
                            {% if side.display_type == 1 %}
                                {% autoescape off %}
                                    {{ side.content }}
                                {% endautoescape %}
                            {% elif side.display_type == 2 %}
                                <ul>
                                    {% for post in recently_posts %}
                                        <li><a href="{% url 'detail' post.id %}">{{ post.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% elif side.display_type == 4 %}
                                <ul>
                                    {% for comment in recently_comments %}
                                        <li>{{ comment.content }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <hr/>
        <nav class="nav category">
            {% for cate in cates %}
                <a href="{% url 'category' cate.id %}">{{ cate.name }}</a>
            {% endfor %}
        </nav>
    </div>
    {% if power_by %}
        <div class="container power">
            <span class="text-muted">Power by {{ power_by }}</span>
        </div>
    {% endif %}
</footer>